.item-list {
    margin-top: 1.5rem;
}

.item-list .list-group-item {
    cursor: pointer;
}

.item-list .list-group-item:hover {
    background-color: #444;
}

.renderFnLabel {
    color: #0dbf92;
    margin-left: 10px;
}